[package]
name = "wit-value"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
thiserror = "2"
wit-parser = "0.244"
wasm-wave = { version = "0.244", features = ["wit"] }

[dev-dependencies]
proptest = "1"
wasmtime = { version = "40.0.1", features = ["component-model"] }
wit-component = { version = "0.244.0", features = ["dummy-module"] }
